h1 { 
	color: rgb(20, 96, 90); 
	margin-bottom: -5px; 
} 
p { 
	margin-bottom: -10px; 
} 
.ui { 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
} 
.row { 
	display: flex; 
} 
.cell { 
	border: none; 
	width: 80px; 
	height: 80px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 24px; 
	text-align: center; 
	cursor: pointer; 
} 
.cell:active { 
	outline: none; 
} 
/* 3*3 Grid */
#b1{ 
	border-bottom: 1px solid rgb(224, 170, 170); 
	border-right: 1px solid rgb(165, 125, 125); 
} 

#b2 { 
	border-bottom: 1px solid rgb(192, 144, 144); 
	border-right: 1px solid gray; 
	border-left: 1px solid rgb(156, 115, 115); 
} 

#b3 { 
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b4 { 
	border-top: 1px solid gray; 
	border-bottom: 1px solid rgb(214, 143, 143); 
	border-right: 1px solid gray; 
} 
	
#b5 { 
	border: 1px solid rgb(223, 180, 180); 
} 

#b6 { 
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b7 { 
	border-top: 1px solid gray; 
	border-right: 1px solid gray; 
} 

#b8 { 
	border-top: 1px solid rgb(179, 134, 134); 
	border-right: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b9 { 
	border-top: 1px solid rgb(155, 107, 107); 
	border-left: 1px solid gray; 
} 
/* Reset Button */
#but { 
	box-sizing: border-box; 
	width: 95px; 
	height: 40px; 
	border: 1px solid rgb(40, 59, 79); 
	margin-left: auto; 
	border-radius: 8px; 
	font-family: Verdana, 
		Geneva, Tahoma, sans-serif; 

	background-color: rgb(3, 39, 69); 
	color: rgb(250, 251, 253); 
	font-size: 20px; 
	cursor: pointer; 
} 

/* Player turn space */
#print { 
	font-family: Verdana, 
		Geneva, Tahoma, sans-serif; 
	color: rgb(27, 55, 83); 
	font-size: 20px; 
} 

#main { 
	text-align: center; 
} 

#ins { 
	font-family: Verdana,Geneva, 
					Tahoma, sans-serif; 
	color: rgb(98, 76, 122); 
}
